/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: 'wght' var(--card-font-weight);
  color: var(--accent-color);
  background-color: var(--bg-color);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.page-size {
  margin: 0 auto;
  max-inline-size: 698px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 100px;
  padding: clamp(6.875rem, 6.3028rem + 2.4413vw, 8.5rem) 0 24px;
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
  margin-block-end: 19px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.theme-menu__button {
  margin-inline-start: 20px;
  cursor: pointer;
  background-color: transparent;
  font-size: 14px;
  text-transform: inherit;
  position: relative;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: triangle 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.card__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card__item {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.card__title {
  font-size: 18px;
  font-variation-settings: "wght" 785;
  padding: 4px 7px;
}

.card__image-wrapper {
  position: relative;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
}

.card__image-lable {
  position: absolute;
  opacity: 0.5;
  top: 24px;
  right: 24px;
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  text-shadow:
    -1px 0 var(--bg-color),
    0 1px var(--bg-color),
    1px 0 var(--bg-color),
    0 -1px var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color)) {
  .card__image-lable {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__image {
  display: block;
  inline-size: 100%;
}

.card__paragraph {
  margin: 26px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  z-index: 100;
}

.card__paragraph:last-of-type {
  margin-block-start: 27px;
}

.card__button-container {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
  margin: 24px;
}

.like-icon {
  inline-size: 38px;
}

.card__icon-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  transition: border 0.3s ease;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.card__like-button {
  border: 2px solid var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  inline-size: 130px;
  block-size: 38px;
}

.button-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 50px auto 105px;
  padding: 14px 0;
  background-color: var(--bg-color);
  inline-size: 338px;
  border: 2px solid var(--accent-color);
}

.button-modal .floppy {
  inline-size: 21px;
}

.button__text {
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
}

.dialog {
  inline-size: 357px;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 31px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, .75);
}

.dialog__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.dialog .floppy {
  inline-size: 39px;
  block-size: 39px;
  color: var(--accent-color);
}

.dialog__title {
  max-inline-size: 200px;
  font-family: var(--accent-font), sans-serif;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  text-transform: uppercase;
}

.dialog__button {
  margin-block-start: 30px;
  inline-size: 100%;
  padding: 9px 17px;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
}

.button-effects {
  position: relative;
  cursor: pointer;
  box-shadow: 0;
  transition: box-shadow 0.3s ease;
}

.button-effects::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--blend-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
  mix-blend-mode: difference;
}

.button-effects:hover::after {
  transform: scaleX(1);
}

.button-effects:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.card__list-item:nth-child(1) .card__image {
  filter: saturate(1.5);
}

.card__list-item:nth-child(2) .card__image {
  filter: brightness(2);
}

.card__list-item:nth-child(3) .card__image {
  filter: blur(3px);
}

.card__list-item:nth-child(4) .card__image {
  filter: contrast(10);
}

.card__list-item:nth-child(5) .card__image {
  filter: hue-rotate(-90deg);
}

.card__list-item:nth-child(6) .card__image {
  filter: invert(1)
}

.card__list-item:nth-child(7) .card__image {
  filter: sepia(0.5);
}

.card__list-item:nth-child(8) .card__image {
  filter: grayscale(1) blur(3px);
  ;
}

@media (width <=375px) {
  .card__list {
    gap: 47px;
  }

  .card__paragraph {
    margin: 26px;
  }

  .card__image-lable {
    top: 20px;
    right: 11px;
  }

  .button-modal {
    max-inline-size: 308px;
    margin: 50px auto 105px;
    padding: 13px 0;
    flex-direction: column;
  }

  .button-modal .floppy {
    inline-size: 28px;
  }
}
